<div id="<%= dom_id employee %>">
  <p>
    <strong>Emp name:</strong>
    <%= employee.emp_name %>
  </p>

  <p>
    <strong>Emp email:</strong>
    <%= employee.emp_email %>
  </p>

  <p>
    <strong>Emp job:</strong>
    <%= employee.emp_job %>
  </p>

  <p>
    <strong>Emp salary:</strong>
    <%= employee.emp_salary %>
  </p>

</div>
