<div class="container">
<%= form_with(model: employee) do |form| %>
  <% if employee.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
        <% employee.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<form>
  <div>
    <label class="form-label">Nome</label>
    <%= form.text_field :emp_name, class:"form-control" %>
  </div>

  <div>
    <label class="form-label">E-mail</label>
    <%= form.text_field :emp_email ,class:"form-control"%>
  </div>

  <div>
    <label class="form-label">Cargo</label>
    <%= form.text_field :emp_job, class:"form-control" %>
  </div>

  <div>
    <label class="form-label">Salário</label>
    <%= form.text_field :emp_salary,class:"form-control" %>
  </div>

  <div>
  <%= form.submit class:"btn btn-primary" %>
  </div>

</form>
<% end %>
</div>